/* Apply red color to text inside the LC1, LC2, LC3, and LC4 sections */

#LC1 *, #LC2 *, #LC3 *, #LC4 *, #LC5 *, #LC6 *, #LC7 *, #LC8 *, #LC9 * { 
  color: #648FFF; 
}

#LC1 > h2, #LC2 > h2 #LC3 > h2 #LC4 > h2 #LC5 > h2 #LC6 > h2 #LC7 > h2 #LC8 > h2 #LC9 > h2 { 
  color: #3861CE; 
}

#LC1 > details *, #LC2 > details *, #LC3 > details *, #LC4 > details *, #LC5 > details *, #LC6 > details *, #LC7 > details *, #LC8 > details *, #LC9 > details * { 
  color: #ad1a19; 
}