
/* Apply red color to text inside the LC1, LC2, LC3, and LC4 sections */

#LC1 *, #LC2 *, #LC3 *, #LC4 *, #LC5 *, #LC6 *, #LC7 *, #LC8 *, #LC9 *, #LC10 * { 
  color: #648FFF; 
}

#LC1 > h2, #LC2 > h2, #LC3 > h2, #LC4 > h2, #LC5 > h2, #LC6 > h2, #LC7 > h2, #LC8 > h2, #LC9 > h2, #LC10 > h2 { 
  color: #3861CE; 
}

#LC1 > details *, #LC2 > details *, #LC3 > details *, #LC4 > details *, #LC5 > details *, #LC6 > details *, #LC7 > details *, #LC8 > details *, #LC9 > details *, #LC10 > details * { 
  color: #ad1a19; 
}

/* ----- */ 
.LC * {color: #648FFF; }
.LC > h2 { color: #3861CE; }
.LC > details * {  color: #ad1a19; }


/* ----- */ 

.button-container {
  display: inline-block;
  gap: 10px; /* Space between buttons */
}

.button {
  background-color: #648FFF; /* Blue */
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
  border-radius: 5px;
}

.button-python {
  background-color: ##FFB000; /* Yellow */
}

/* Custom styling for Python chapters */
#chapter-1b::before {
  content: "1B. ";
  font-weight: bold;
}

#chapter-2b::before {
  content: "2B. ";
  font-weight: bold;
}

#chapter-3b::before {
  content: "3B. ";
  font-weight: bold;
}

#chapter-4b::before {
  content: "4B. ";
  font-weight: bold;
}

#chapter-5b::before {
  content: "5B. ";
  font-weight: bold;
}

#chapter-6b::before {
  content: "6B. ";
  font-weight: bold;
}

/* Custom section numbering for Python chapters */
#chapter-1b {
  counter-reset: section;
}

#chapter-2b {
  counter-reset: section;
}

#chapter-3b {
  counter-reset: section;
}

#chapter-4b {
  counter-reset: section;
}

#chapter-5b {
  counter-reset: section;
}

#chapter-6b {
  counter-reset: section;
}

/* Override section numbering for Python chapters */
#chapter-1b .section-number::before {
  content: "1.";
}

#chapter-2b .section-number::before {
  content: "2.";
}

#chapter-3b .section-number::before {
  content: "3.";
}

#chapter-4b .section-number::before {
  content: "4.";
}

#chapter-5b .section-number::before {
  content: "5.";
}

#chapter-6b .section-number::before {
  content: "6.";
}